.content-container {
    border-width: 2px;
    border-style: dashed;
    border-color: black;
    padding: 10px;
    margin-bottom: 20px;

    .content-body-container {
        border-width: 2px;
        border-style: dotted;
        border-color: black;
        padding: 10px;
    }
}